body{
    text-align: center;
    margin-top: 20px;
    
font-size: 14px;  

}
h1,h2{
    font-size: 72px;
    font-weight: bold;
    -webkit-text-stroke: whitesmoke;
    

   
}
img{
    width: 50%;
}
a{
    color: gray;
}
